/Assets/Game/
/Assets/Game.meta
/Assets/Plugins/GitHub/
/Assets/Plugins/GitHub.meta
/Assets/StreamingAssets/
/Assets/StreamingAssets.meta
/AssetBundles/
/Packages/
/Build/
/Library/
/Logs/
/MemoryCaptures/

/obj/
/Temp/
/.idea/
.vs/
*.csproj
*.userprefs
*.sln
*.user
