
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Unity3d-UExtension.sln

Assets/Game/
Assets/Game.meta

Assets/UExtension.Exploration/
Assets/UExtension.Exploration.meta

Assets/UExtension.Example/
Assets/UExtension.Example.meta

UnitTestAssetBundle/
Packages/
.vs/


Build/
Library/
obj/
Temp/
ProjectSettings/
*.csproj
*.userprefs
*.sln
